

    <main class="grid__container">
      <div class="container flex__grid">
        <section class="event__chat__container">
          <div class="hosts">
            <h3>
              <a href="index.html" class="space arrow"
                ><span> &LeftArrow;</span>
              </a>
              Login
            </h3>

            <div class="host__content del">
              <form action="">
                <form>
                  <div class="form__field">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter your email.."
                    />
                  </div>
                  <div class="form__field">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      placeholder="Enter your password.."
                    />
                  </div>

                  <input type="submit" class="btn" value="Login" />
                </form>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>

  