{% extends "base.html" %}

{% block content %}

    <main class="grid__container">
      <div class="container grid__box">
        <section class="browse__events">
          {% include "event/topics_component.html" %}

          <span class="flex event justify__start">
            <h3><a href="" class="p__link">More</a></h3>
            <p><a href="" class="p__link">&DownArrow;</a></p>
          </span>
        </section>

        <section class="events__section">
          <div class="flex align__up center">
            <div>
              <img src={{user.image.url}} class="md" alt="" />
              <p>{{user.full_name}}</p>
              <p><span class="p__link">@{{user.username}}</span> {{ user.followers.count }} Followers  {{ user.following.count }} Following</p>

              {% if request.user != user %}

              {% if request.user in user.followers.all %}
              <div class="mt">
                <a href="{% url 'unfollow-user' user.id %}" class="btn-secondary two mt">following</a>
              </div>
              {% else %}
              <div class="mt">
                <a href="{% url 'follow-user' user.id %}" class="btn-secondary two mt">follow</a>
              </div>
              {% endif %}
            
             
              {% endif %}
            </div>
          </div>

          <div class="about__content">
            <h4 class="topics__title">ABOUT</h4>
            <p>{{user.bio}}</p>
            {% if request.user != user %} 
            <h4 class="topics__title">EVENTS {{user.full_name | upper }} HOSTED</h4>
            {% else %}
            <h4 class="topics__title">EVENTS YOU HOSTED</h4>
            {% endif %}
            
          </div>
         {% include "event/event_component.html" %}
        </section>

        {% if msgs %}
        <section class="activities">
          <div class="hosts">
            <h3>RECENT ACTIVITIES</h3>

            {% include "event/activities_component.html" %}
          </div>
        </section>
        {% endif %}

      </div>
    </main>

{% endblock %}