{% extends "base.html" %}

{% block content %}

<main class="grid__container">
    <div class="container flex__grid">
      <section class="event__chat__container">
        <div class="hosts">
          <h3>
            <a href="{{request.META.HTTP_REFERER}}" class="space arrow"
              ><span> &LeftArrow;</span>
            </a>
            Settings
          </h3>

          <div class="host__content del">
          
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__field">
                  <label for={{field.label}}>{{field.label}}</label>
                    {{ field }}

                    {% if field.errors %}
                      <div class="error__msg">
                        <small>{{ field.errors | join:" " }}</small>
                      </div>
                    {% endif %}
                </div>
                {% endfor %}

                <input type="submit" class="btn" value="Update" />
              </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}